/*This is a comment in css*/

body
{
	background-color: lightblue;
	background: linear-gradient(blue,white,lightblue,white);
}

nav
{
	float: left;
	width: 150px;
	height: 662px;
	background-color: gold;
	
}

h1
{
	font-family: arial, veranda, helvetica;
	color: red;
	font-size: 28px;
	text-align:center;
	background-color: yellow;
}
img.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}